/*COLOR SCHEMA */

$body-bg: #EEF2F4;
$elements-bg: #FFFFFF;
$section2-bg: #0000000A;
$color-primary: #4C309B;
$section3-bg: #F8FAFB;
$color-text-aside: #707B81;
$title-section2: #627179;
$border-elements: #0000000D;
$graphic-pink: #9E51BA;
$graphic-bluish: #0DD1E3;
$graphic-orange: #FF8052;
$border-section3: #DAE0E3;
$color-text-section3: #4E5B61;
$color-primary-section3: #8A51BA;
$color-secondary-section3: #38BFA0;
$color-third-section3: #008DCB;
$color-smalltext-section3: #A5A5A5;
$color-arrow-aside: #9DA5AC;
$color-border-aside: #CCCFD1;
$color-border-section3: #D6D9DD;


/*FONT FAMILY AND SIZING*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
$font-family: 'Montserrat', sans-serif;

